### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
#Import module
import pandas as pd
import dataframe_image as dfi
#Load file
file_to_load = "Resources/purchase_data.csv"

#Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
#Display number of unique players
player_count = purchase_data_df["SN"].drop_duplicates().count()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Find number of unique items
number_of_unique_items = len(purchase_data_df["Item ID"].unique())

#Find average Price
average_price = purchase_data_df["Price"].mean()

#Find number of purchases
number_of_purchases = purchase_data_df["Purchase ID"].count()

#Find total revenue
total_revenue = (purchase_data_df["Price"].sum())

#Create data frame to display results
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [number_of_unique_items], "Average Price" : [average_price], 
                                   "Number of Purchases" : [number_of_purchases], "Total Revenue" : [total_revenue]})
#Format data frame
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

#Display data frame
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Create data frame that removes duplicate screen names
count_df = purchase_data_df.drop_duplicates("SN")

#Find total players
total_players = count_df["SN"].count()

#Find player count by gender
only_male_count = len(count_df.loc[count_df["Gender"] == "Male", :])
only_female_count = len(count_df.loc[count_df["Gender"] == "Female", :])
other_count = len(count_df.loc[count_df["Gender"] == "Other / Non-Disclosed", :])

#Find percent of each gender and format to percent
percent_male= only_male_count / total_players
percent_female= only_female_count / total_players
percent_other= other_count / total_players

#Create dictionary with data
gender_demographics = {'Total Count': [only_male_count, only_female_count, other_count ], 
                       'Percentage of Players' : [percent_male, percent_female, percent_other], " " : ['Male', 'Female', 'Other/Non-Disclosed']}
#Create Data Frame
gender_demographics_df = pd.DataFrame(gender_demographics)

#Change index to gender
gender_demographics_df = gender_demographics_df.set_index(" ")

#Format data frame
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{0:,.2%}".format)

#Display data frame
gender_demographics_df
dfi.export(gender_demographics_df, '../Image/gender.png')


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Use groupby for gender
grouped_gender_df = purchase_data_df.groupby(["Gender"])

# Find purchase count
purchase_count = grouped_gender_df["Purchase ID"].count()

#Find average price
avg_purchase_price = grouped_gender_df["Price"].mean()

#Find total purchase value
total_purchase_value = grouped_gender_df["Price"].sum()

#Find unique user count
unique_user_df = purchase_data_df.drop_duplicates("SN").groupby(["Gender"])
unique_user_count = unique_user_df["SN"].count()

#Find avg total purchase per person
avg_total_purchase = total_purchase_value / unique_user_count

#Create dictionary
purchasing_analysis = {'Purchase Count': purchase_count, 
                       'Average Purchase Price' : avg_purchase_price,
                       'Total Purchase Value' : total_purchase_value,
                       'Avg Total Purchase per Person' : avg_total_purchase}
                    
#Create data frame
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

#Format for currency 
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
#Display data frame
purchasing_analysis_df
dfi.export(purchasing_analysis_df, '../Image/purchasegender.png')

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Create bins  
manual_bins = [0,9,14,19,24,29,34,39,100]

# Create groups
age_groups = ["<10",'10-14'  , '15-19' , '20-24'  ,  '25-29' , '30-34'  , '35-39', '40+' ]

#Assign Age Group Column
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins=manual_bins, labels=age_groups )

#Remove duplicates
age_df = purchase_data_df.drop_duplicates("SN")

#Find total player count
total_age_count = age_df["SN"].count()

#Group by Age Group
grouped_age_df = age_df.groupby(["Age Group"])

#Find count by age group
grouped_age_count = grouped_age_df["SN"].count()

#Find percentage of players
pct_players_age = grouped_age_count / total_age_count

#Create Dictionary
age_summary = {'Total Count': grouped_age_count , 
               'Percentage of Players': pct_players_age }

#Create data frame
age_summary_df = pd.DataFrame(age_summary)

#Format for percent
age_summary_df["Percentage of Players"] = age_summary_df["Percentage of Players"].map("{:,.2%}".format)

#Display data frame
age_summary_df
dfi.export(age_summary_df, '../Image/age.png')

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Create bins  
manual_bins = [0,9,14,19,24,29,34,39,100]

# Create groups
age_groups = ["<10",'10-14'  , '15-19' , '20-24'  ,  '25-29' , '30-34'  , '35-39', '40+' ]

#Assign Age Group Column
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins=manual_bins, labels=age_groups )

#Group purchase_data by age group
grouped_purchase_data_df = purchase_data_df.groupby(["Age Group"])

#Find purchase count by group
grouped_purchase_count = grouped_purchase_data_df["Purchase ID"].count()

#Find average purchase price by group
grouped_average_purchase_price = grouped_purchase_data_df["Price"].mean()

#Find total value by group
grouped_total_purchase_value = grouped_purchase_data_df["Price"].sum()

#Find unique purchase count by group
unique_df = purchase_data_df.drop_duplicates("SN")
grouped_unique_df = unique_df.groupby(["Age Group"])
grouped_unique_purchase_count = grouped_unique_df["SN"].count()

#Find avg total purchase per person
grouped_avg_total_purchase_per_person = grouped_total_purchase_value / grouped_unique_purchase_count

#Create dictionary
purchase_summary = {'Purchase Count': grouped_purchase_count, 
                   'Average Purchase Price' : grouped_average_purchase_price,
                   'Total Purchase Value' : grouped_total_purchase_value,
                   'Avg Total Purchase per Purson' : grouped_avg_total_purchase_per_person}

#Create data frame
purchase_summary_df = pd.DataFrame(purchase_summary)

#Format data frame
purchase_summary_df["Average Purchase Price"] = purchase_summary_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_summary_df["Total Purchase Value"] = purchase_summary_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_summary_df["Avg Total Purchase per Purson"] = purchase_summary_df["Avg Total Purchase per Purson"].map("${:,.2f}".format)

#Display data frame
purchase_summary_df
dfi.export(purchase_summary_df, '../Image/purchaseage.png')

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [308]:
#Group purchase data by screen name
top_spenders_df = purchase_data_df.groupby(["SN"])

#Find total purchase value
total_purchase_value = top_spenders_df['Price'].sum()

#Find average puchase price
average_purchase_price = top_spenders_df['Price'].mean()

#Find purchase count
purchase_count = top_spenders_df['Purchase ID'].count()

#Create dictionary
summary_top_spenders = {'Purchase Count' : purchase_count,
                                     'Average Purchase Price' : average_purchase_price,
                                     'Total Purchase Value' : total_purchase_value}

# Create data frame
summary_top_spenders_df = pd.DataFrame(summary_top_spenders)

#Sort by Total Purchase Value
sorted_summary_top_spenders_df = summary_top_spenders_df.sort_values("Total Purchase Value", ascending=False)

#Format data frame
sorted_summary_top_spenders_df["Average Purchase Price"] = sorted_summary_top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
sorted_summary_top_spenders_df["Total Purchase Value"] = sorted_summary_top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)
#Display preview of data frame
sorted_summary_top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [311]:
#Retrieve the Item ID, Item Name, and Item Price columns
retrieve_columns_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]

#Group by item Id and item name
retrieve_columns_df2 = retrieve_columns_df.groupby(['Item ID', 'Item Name'])

#Find purchase count
purchase_count = retrieve_columns_df2['Item ID'].count()

#Find average price
average_price = retrieve_columns_df2['Price'].mean()

#Find total purchase value
total_purchase_value = retrieve_columns_df2['Price'].sum()

#Create dictionary
most_popular_items = {'Purchase Count' : purchase_count,
                      'Item Price' : average_price,
                      'Total Purchase Value' : total_purchase_value}

#Create data frame
most_popular_items_df = pd.DataFrame(most_popular_items)
    
#Sort data frame by purchase count
sorted_most_popular_items_df = most_popular_items_df.sort_values('Purchase Count', ascending = False)

#Format data frame
sorted_most_popular_items_df["Item Price"] = sorted_most_popular_items_df["Item Price"].map("${:,.2f}".format)
sorted_most_popular_items_df["Total Purchase Value"] = sorted_most_popular_items_df["Total Purchase Value"].map("${:,.2f}".format)

#Display preview of data frame
sorted_most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [310]:
#Remove formating from above data frame
most_profitable_items_df = sorted_most_popular_items_df
most_profitable_items_df['Item Price'] = most_profitable_items_df['Item Price'].str.replace('$', '', regex = True)
most_profitable_items_df['Total Purchase Value'] = most_profitable_items_df['Total Purchase Value'].str.replace('$', '', regex=True)
most_profitable_items_df['Item Price'] = most_profitable_items_df['Item Price'].astype(float)
most_profitable_items_df['Total Purchase Value'] = most_profitable_items_df['Total Purchase Value'].astype(float)

#Sort data frame
sorted_most_profitable_items_df = most_profitable_items_df.sort_values('Total Purchase Value', ascending = False)

#Format data frame 
sorted_most_profitable_items_df["Item Price"] = sorted_most_profitable_items_df["Item Price"].map("${:,.2f}".format)
sorted_most_profitable_items_df["Total Purchase Value"] = sorted_most_profitable_items_df["Total Purchase Value"].map("${:,.2f}".format)

#Display preview of data frame
sorted_most_profitable_items_df.head()

#Conclusions/analysis in README.md file

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80